spring:
  application:
    name: registry-server

server:
  port: 8091

eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://localhost:8091/eureka/

logging:
  level:
    root: info

