* text=auto

/mvnw text eol=lf
*.cmd text eol=crlf

*.java        text eol=lf
*.xml         text eol=lf
*.yml         text eol=lf
*.yaml        text eol=lf
*.properties text eol=lf
*.md          text eol=lf
*.css          text eol=lf
*.js          text eol=lf

*.png         binary
*.jpg         binary
*.jar         binary
*.min.js      binary
*.woff2	      binary
*.woff        binary
