spring:
  application:
    name: sequence-engine

Logging:
  level:
    root: info
    org.example.mylearn: debug


springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operations-sorter: alpha

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: http://localhost:9100/eureka
